@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'Butter';
    src: url(./fonts/ButterCDemoRegular.ttf);
}

body{
    margin: 0;
    height: 100vh;
    background: url('./img/bgimage.jpg') no-repeat center fixed;
    background-size: cover;
    display: grid;
}

#content{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    justify-self: center;
}

.header{
    display: flex;
    justify-content: space-between;
}

.btns{
    display: flex;
    align-items: center;
    gap: 2.5em;
}

.btns button{
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    padding: 5px 35px 5px 35px;
    cursor: pointer;
    font-family: 'Joan', sans-serif;
}

.btns button:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(59, 15, 15);
}

h1{
    color: #fff;
    font-size: 2.5em;
    font-family: 'Butter';
}

/*Home page*/
.info{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    box-shadow: 1px 1px 5px black;
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
    gap: 2em;
}

.info img{
    height: 35em;
    width: 25em;
}

.info .text{
    color: white;
    font-size: 1.3em;
    font-family: 'Joan', sans-serif;
}

/*Menu page style*/
.infoMenu{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    box-shadow: 1px 1px 5px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px;
    gap: 2em;
}

.infoMenu div{
    display: grid;
    grid-template-columns: max-content 1fr;
}

.infoMenu div div{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.infoMenu h3{
    font-size: 1.7em;
    margin: 0;
}

.infoMenu p{
    font-size: 1.3em;
    margin: 0.1em;
}

.infoMenu img{
    height: 180px;
    width: 180px;
}

/*Contact page style*/
.infoContact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    box-shadow: 1px 1px 5px black;
    padding: 30px;  
}

.infoContact h1{
    grid-area: 1 / 1 / 2 / 3;
    font-size: 2.0em;
    text-align: center;
    font-family: 'Joan', sans-serif;
}

.infoContact div{
    color: white;
    align-self: center;
    justify-self: center;
}

.infoContact h3{
    font-size: 1.8em;
}

.infoContact p{
    font-size: 1.3em;
}